<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/hamburger.css">
    <link rel="stylesheet" href="/css/slideshow.css">
    <link rel="stylesheet" href="/css/fade.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/cnc.css">
    <link rel="stylesheet" href="/css/cncss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Granites</title>
</head>
<body style="background-color: white;">

  <a id="button"></a>

  <nav class="navbar" id="navbar">
    <ul class="menu">
        <li><a class="menuItem" href="/#homescroll">HOME</a></li>
        <li><a class="menuItem" href="/#aboutscroll">ABOUT US</a></li>
        <li><a class="menuItem" href="/#productscroll">PRODUCTS</a></li>
        <li><a class="menuItem" href="/#galleryscroll">GALLERY</a></li>
        <li><a class="menuItem" href="/#contactusscroll">CONTACT US</a></li>
      </ul>
    <button class="hamburger">
    <i class="menuIcon material-icons" id="material-icons">menu</i>
    <i class="closeIcon material-icons">close</i>
    </button>
    <a href="/" class="navbar-logo" style="display: flex;">
        <img src="/images/logo/Group 12.png" alt="" id="logoVector" style="width:100%; height: 54px; width: auto;">   
    </a>
    <ul class="navbar-links">
      <li class="navbar-dropdown">
        <a href="/#homescroll" id="home">HOME</a>
      </li>
      <li class="navbar-dropdown">
        <a href="/#aboutscroll" id="aboutus">ABOUT US</a>
      </li>
      <li class="navbar-dropdown">
        <a href="/#productscroll" id="products">PRODUCTS</a>
        <div class="dropdown">
          <a href="/marbles">MARLBE</a>
          <a href="/granites">GRANITE</a>
          <a href="/ceramic600x1200">CERAMIC TILES</a>
          <a href="/cnc">CNC DESIGNING</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="/#galleryscroll" id="gallery">GALLERY</a>
      </li>
      <li class="navbar-dropdown">
        <a href="/#contactusscroll" id="contactus">CONTACT US</a>
      </li>
    </ul>
  </nav>

    <div id="title_box1" style="width: 100%;">
        <div id="title">
            <h2 id="main_title">CNC Designing</h2>
            <h1 style="letter-spacing: 2px; font-weight: 400;">Exclusive mesmerizing designs that are versatile and can be used to elevate the look of your space. These beautiful and versatile laser-cut panels are light and can be used on furniture, to create room partitions, false ceiling panels, or even as a backlit panel on a wall. We provide a great range of choices and plenty of scope for customization.</h1>        
        </div>  
        <div id="number2" style="margin-bottom:80px">
          <div class="containerss">

    <!-- Full-width images with number text -->
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
        <img src="/images/cncss/10-5.jpg" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">2 / 6</div>
        <img src="/images/cncss/11-3.jpg" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">3 / 6</div>
        <img src="/images/cncss/19-2.jpg" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
        <img src="/images/cncss/4-6.jpg" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
        <img src="/images/cncss/5-6.jpg" style="width:100%">
    </div>
  
    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
        <img src="/images/cncss/8-5.jpg" style="width:100%">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <button id="next" onclick="plusSlides(1)"><a class="next"  onclick="plusSlides(1)">&#10095;</a></button>
  
    <!-- Image text -->
  
    <!-- Thumbnail images -->
    <div class="row">
      <div class="column">
        <img class="demo cursor" src="/images/cncss/10-5.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
      </div>
      <div class="column">
        <img class="demo cursor" src="/images/cncss/11-3.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
      </div>
      <div class="column">
        <img class="demo cursor" src="/images/cncss/19-2.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
      </div>
      <div class="column">
        <img class="demo cursor" src="/images/cncss/4-6.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
      </div>
      <div class="column">
        <img class="demo cursor" src="/images/cncss/5-6.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
      </div>
      <div class="column">
        <img class="demo cursor" src="/images/cncss/8-5.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
      </div>
    </div>
  </div>
        </div>
    </div>
    
    <div class="contact_container">
      <div id="inf" class = "half1">
          <h1>Contact Us</h1>
          <div id="phone" class="data">
              <div id="icon">
                  <img src="/images/contact/phone.svg" alt="">
              </div>
              <div id="text">
                  <p>+91 9468880011 | +91 9252333336</p>
              </div>
          </div>

          <div id="mail" class="data">
              <div id="icon">
                  <img src="/images/contact/mail.svg" alt="">
              </div>
              <div id="text">
                  <a href = "mailto:jainandjainmarmo@yahoo.com?subject = Feedback&body = Message" style="color: white;">jainandjainmarmo@yahoo.com</a>
              </div>
          </div>

          <div id="location" class="data">
              <div id="icon">
                  <img src="/images/contact/map-pin.svg" alt="">
              </div>
              <div id="text">
                  <p>34, Kirti Nagar, New Sanganer road,
                      Shyam Nagar, Jaipur, Rajasthan, 302019</p>
              </div>  
          </div>
      </div>
      <div id="inf" class = "half1">
          <h1>Quick Links</h1>
          <div id="phone" class="data">
              <div id="text">
                  <p> <a href="/marbles" style="color: white;">Marble</a></p>
              </div>
          </div>

          <div id="location" class="data">
              <div id="text">
                  <p> <a href="/granites" style="color: white;">Granite</a></p>
              </div>  
          </div>

          <div id="mail" class="data">

              <div id="text">
                  <p> <a href="/ceramic600X1200" style="color: white;">Cermaic Tiles</a></p>
              </div>
          </div>

          <div id="location" class="data">
              <div id="text">
                  <p> <a href="/cnc" style="color: white;">CNC Designing</a></p>
              </div>  
          </div>
      </div>
      <div id="map" class = "half2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1117.7405652498664!2d75.76969562923713!3d26.895962294982624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db467b4a5cc61%3A0x83817158a9a93a3c!2sNeta%20ji%20info!5e1!3m2!1sen!2sin!4v1633345808806!5m2!1sen!2sin" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
      </div>
  </div>

  <div class="footer" style="padding: 40px 50px; font-size: 13px;background-color: rgba(31,44,65,1);">
    <p style="color: white; text-align: left;line-height: 30px;">© 2021 Jain And Jain Marmo Pvt. Ltd. <br></p>
    <p style="color: white;">Designed and Developed by - <a target= "_blank" href="https://www.thedigitalnarrators.com/" style="color: white; cursor: pointer;">The Digital Narrators</a></p>
</div>

    <!-- Container for the image gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/button.js"></script>
    <script src="/js/cncss.js"></script>
    <script src="/js/hamburger.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/click.js"></script>
</body>
</html>