<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/slideshow.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/about_us.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/client.css">
    <link rel="stylesheet" href="/css/hamburger.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>J&J Marmo</title>
    
</head>
<body>
    <nav class="navbar" id="navbar">
        <ul class="menu">
            <li><a class="menuItem" href="/#homescroll">HOME</a></li>
            <li><a class="menuItem" href="/#aboutscroll">ABOUT US</a></li>
            <li><a class="menuItem" href="/#productscroll">PRODUCTS</a></li>
            <li><a class="menuItem" href="/#galleryscroll">GALLERY</a></li>
            <li><a class="menuItem" href="/#contactusscroll">CONTACT US</a></li>
          </ul>
        <button class="hamburger">
        <i class="menuIcon material-icons" id="material-icons">menu</i>
        <i class="closeIcon material-icons">close</i>
        </button>
        <a href="#" class="navbar-logo" style="display: flex;">
            <img src="/images/logo/Group 12.png" alt="" id="logoVector" style="width:100%; height: 54px; width: auto;">   
        </a>
        <ul class="navbar-links">
          <li class="navbar-dropdown">
            <a href="/#homescroll" id="home">HOME</a>
          </li>
          <li class="navbar-dropdown">
            <a href="/#aboutscroll" id="aboutus">ABOUT US</a>
          </li>
          <li class="navbar-dropdown">
            <a href="/#productscroll" id="products">PRODUCTS</a>
            <div class="dropdown">
              <a href="/marbles">MARLBE</a>
              <a href="/granites">GRANITE</a>
              <a href="/ceramic600x1200">CERAMIC TILES</a>
              <a href="/cnc">CNC DESIGNING</a>
            </div>
          </li>
          <li class="navbar-dropdown">
            <a href="/#galleryscroll" id="gallery">GALLERY</a>
          </li>
          <li class="navbar-dropdown">
            <a href="/#contactusscroll" id="contactus">CONTACT US</a>
          </li>
        </ul>
      </nav>
    
    <div id="title_box">
        <div id="title">
            <h1>UPGRADE YOUR SPACE WITH <BR>
                SURFACES THAT EXPRESS ELEGANCE</h1>
            <button><a href="#productscroll" id="products" style="color: white;">PRODUCTS</a></button>    
        </div>
    </div>
    
    <div class="scroll">
        <a href="#aboutscroll">
            <div class="mouse"></div>
        </a>
    </div>

    <div class="box" id="box">
        <video src="/video/Document - Brave 2021-10-02 20-05-56.mp4" autoplay muted loop></video>
        <div id="aboutscroll"></div>
        <div id="homescroll" style="position: absolute; top: 0;"></div>
    </div>
    
    <div class="about" id="aboutUs">
        <hr>
        <div class="container1"> 
            <div id="heading">
                <h1>About Us</h1>
                <p>At Jain & Jain Marmo, we are a leading company supplying and trading quality Italian marble, Granite, Ceramic Tiles, and CNC designing. 
                We are committed to enrich every architecture's craft with an exclusive range of assorted products that enhance the luxury factor and add value to any architecture.</p>    
            </div>
            <div id="imagelogo" >
                <img src="/images/aboutus/modern-design-bedroom-with-large-white-bed-stool-with-dressing-table-nearby-dark-walls-light-furniture-white-marble-floor-3d-rendering.jpg" alt="">
            </div>   
        </div>
        <div class="container1 container11">
            <div id="imagelogo" >
            <img src="/images/aboutus/modern-luxury-hotel-office-reception-lounge-with-meeting-room-chair.jpg" alt="">   
            </div>   
            <div id="heading">
                <p> We are proud of our outstanding quality products for interiors, from private homes to luxury hotels, spas, boutiques, and commercial buildings, the natural texture of our products lends every space an unmistakable touch of uniqueness and elegance.  
            </div>
        </div>
        <div class="container1">
            <div id="heading">
                <p>Every J&J Marmo slab is rare, as it is carefully picked and sourced by our experts to ensure only the finest quality reaches our customers.     
                    We are committed to adorn every space with grandeur, finesse, and unmatched quality, for complete client satisfaction with our exceptional products, unrivaled services, and competitive pricing.
                
            </div>
            <div id="imagelogo">
                <img src="/images/aboutus/modern-luxury-hotel-office-reception-lounge.jpg" alt="">
            </div>   
        </div>
        <div id="productscroll"></div>
    </div>


    <div class="products">
        <h1>Products</h1>
        <div class="container2">
            <div id="product_list">
                <div class="item">
                    <a href="/marbles">
                        <img src="/images/products/pexels-henry-&-co-2341290.jpg" alt="">
                    </a>
                    <div class="info"><p>MARBLE</p></div>
                </div>
                <div class="item">
                    <a href="/granites">
                        <img src="/images/products/pexels-charlotte-may-5824625.jpg" alt="">
                    </a>
                    <div class="info"><p>GRANITE</p></div>    
                </div>
                <div class="item">
                    <a href="/ceramic600x1200">
                        <img src="/images/products/Ceramic-tiles.jpg" alt="">
                        <div class="info"><p>CERAMIC TILES</p></div>
                    </a>
                </div>
                <div class="item">
                    <a href="/cnc">
                        <img src="/images/products/cnc-design.jpg" alt="">
                        <div class="info"><p>CNC DESIGNING</p></div>
                    </a>
                </div>
            </div>
            <div id="product_list">
                
            </div>
        </div>
        <div id="galleryscroll"></div>
    </div>
    
    <div class="gallery">
        <h1>Gallery</h1>
        <div class="container3">
            <div class="wrapper">   
                <div id="slider4" class="text-center">
                    <div class="slide-img">
                        <img src="/images/gallery/1.jpg" alt="" style="width: 100%;height: 100%; object-fit: cover;">
                    </div>
                    <div class="slide-img">
                        <img src="/images/gallery/2.jpg" alt="" style="width: 100%;height: 100%; object-fit: cover;">
                    </div>
                    <div class="slide-img">
                        <img src="/images/gallery/3.jpg" alt="" style="width: 100%;height: 100%; object-fit: cover;">
                    </div>
                    <div class="slide-img">
                        <img src="/images/gallery/6.jpg" alt="" style="width: 100%;height: 100%; object-fit: cover;">
                    </div>
                    <div class="slide-img">
                        <img src="/images/gallery/5.jpg" alt="" style="width: 100%;height: 100%; object-fit: cover;">
                    </div>
                    <div class="slide-img">
                        <img src="/images/gallery/4.jpg" alt="" style="width: 100%;height: 100%; object-fit: cover;">
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="client">
        <h1>CLIENTELE</h1>
        <div id = "companies">
            <div class="company">
                <img src="/images/clientele/image 10.png" alt="">
            </div>
            <div class="company">
                <img src="/images/clientele/image 8.png" alt="">
            </div>
            <div class="company">
                <img src="/images/clientele/image 9.png" alt="" style="width: 80%;">
            </div>
        </div>
        <div id="contactusscroll"></div>
    </div> 

    <div class="contact_container">
        <div id="inf" class = "half1">
            <h1>Contact Us</h1>
            <div id="phone" class="data">
                <div id="icon">
                    <img src="/images/contact/phone.svg" alt="">
                </div>
                <div id="text">
                    <p>+91 9468880011 | +91 9252333336</p>
                </div>
            </div>

            <div id="mail" class="data">
                <div id="icon">
                    <img src="/images/contact/mail.svg" alt="">
                </div>
                <div id="text">
                    <a href = "mailto:jainandjainmarmo@yahoo.com?subject = Feedback&body = Message" style="color: white;">jainandjainmarmo@yahoo.com</a>
                </div>
            </div>

            <div id="location" class="data">
                <div id="icon">
                    <img src="/images/contact/map-pin.svg" alt="">
                </div>
                <div id="text">
                    <p>34, Kirti Nagar, New Sanganer road,
                        Shyam Nagar, Jaipur, Rajasthan, 302019</p>
                </div>  
            </div>
        </div>
        <div id="inf" class = "half1">
            <h1>Quick Links</h1>
            <div id="phone" class="data">
                <div id="text">
                    <p> <a href="/marbles" style="color: white;">Marble</a></p>
                </div>
            </div>

            <div id="location" class="data">
                <div id="text">
                    <p> <a href="/granites" style="color: white;">Granite</a></p>
                </div>  
            </div>

            <div id="mail" class="data">

                <div id="text">
                    <p> <a href="/ceramic" style="color: white;">Cermaic Tiles</a></p>
                </div>
            </div>

            <div id="location" class="data">
                <div id="text">
                    <p> <a href="/cnc" style="color: white;">CNC Designing</a></p>
                </div>  
            </div>
        </div>
        <div id="map" class = "half2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1117.7405652498664!2d75.76969562923713!3d26.895962294982624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db467b4a5cc61%3A0x83817158a9a93a3c!2sNeta%20ji%20info!5e1!3m2!1sen!2sin!4v1633345808806!5m2!1sen!2sin" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <div class="footer" style="padding: 40px 50px; font-size: 13px;background-color: rgba(31,44,65,1);">
        <p style="color: white; text-align: left;line-height: 30px;">© 2021 Jain And Jain Marmo Pvt. Ltd. <br></p>
        <p style="color: white;">Designed and Developed by - <a target= "_blank" href="https://www.thedigitalnarrators.com/" style="color: white; cursor: pointer;">The Digital Narrators</a></p>
    </div>
    
    <script src="/js/hamburger.js"></script>
    <script src="js/map.js"></script>
    <script src="/js/button.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/slideshow.js"></script>
    <script src="/js/scroll.js"></script>
</body>
</html>