<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/hamburger.css">
    <link rel="stylesheet" href="/css/fade.css">
    <link rel="stylesheet" href="/css/marble.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="navbar">
        <div id="logo">
            <img id="logoVector" src="/images/logo/Group 12.png" alt="">
        </div>
        <div class="linkss">
            <ul class="menu">
                <li><a class="menuItem" href="/">HOME</a></li>
                <li><a class="menuItem" href="/#aboutscroll">ABOUT US</a></li>
                <li><a class="menuItem" href="/#productscroll">PRODUCTS</a></li>
                <li><a class="menuItem" href="/#galleryscroll">GALLERY</a></li>
                <li><a class="menuItem" href="/#contactusscroll">CONTACT US</a></li>
              </ul>
            <button class="hamburger">
            <i class="menuIcon material-icons" id="material-icons">menu</i>
            <i class="closeIcon material-icons">close</i>
            </button>
            <ul id="links">
                <li><a href="/" id="home">HOME</a></li>
                <li><a href="/#aboutscroll" id="aboutus">ABOUT US</a></li>
                <li><a href="/#productscroll" id="products">PRODUCTS</a></li>
                <li><a href="/#galleryscroll" id="gallery">GALLERY</a></li>
                <li><a href="/#contactusscroll" id="contactus">CONTACT US</a></li>
            </ul>
        </div>    
    </div>

    <div id="title_box1">
        <div id="title">
            <h2 id="main_title">Marbles.</h2>
            <h1 style="letter-spacing: 3px;">WE STAND BEHIND WHAT YOU STAND,<br>
                WE WILL FLOOR YOU.</h1>
            <p>Scorll to Explore the Widest Range of Exotic Marbles.</p> 
                
        </div>
    </div>

    <div class="box" id="box">
        <img src="/images/products/pexels-madison-inouye-1101122.jpg" alt="" style="height: 80vh; width: 100%; ">
        <div id="aboutscroll"></div>
        <div id="homescroll" style="position: absolute; top: 0;"></div>

    </div>
    
    <div class="wrapper">
    <p style="color:black; padding: 30px 0px; text-align: center;font-size: 21px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, quia.</p>
        <div class="img-area">
            <% for( let index = 0; index < marbleNames.length; index++ ) { %>
                <div class="single-img">
                    <img src="/images/marbles/<%= marbleLinks[index] %> " alt="">
                    <div class="marbleName">
                        <h1 style="color: white;"><%= marbleNames[index] %> </h1>
                    </div>
                </div>
            <% } %>
        </div>
      </div>

    <script src="/js/hamburger.js"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>