.about{
    width: 100vw;

}

.about .container1 #heading h1{
    color: #002A41;
    margin-bottom:80px ;
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    font-weight: 800;
    letter-spacing: 3px;
}

hr{
    margin-top: 71px;
    width: 44%;
    height: 5px;
    border: none;
    background: #e2d2cd;
}
.about .container1 #heading p{
    color: rgb(24, 24, 24);
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 1px;
}

.container1{
    padding: 0px 70px 0px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:92px;
}

.container1 #imagelogo{
    flex:1;
    text-align: right;
}

.container1 #heading{
    flex:1;
}

.container1 #imagelogo img{
    width: 75%;
    position: relative;
    margin-top: 60px;
    
}

.container11 #heading {
    text-align: right;
}

.container11 #imagelogo {
    text-align: left;
}


#productscroll{
    position: relative;
    bottom: 90px;
  }

@media only screen and (max-width: 1270px){
    hr{
        margin-top: 50px;
    }

    .container1 #heading {
        text-align: center;
    }
    
    .about .container1 #heading h1 {
        font-size: 44px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 40px;
    }
    .about .container1 #heading p {
        font-size: 18px;
        font-weight: 300;

    }
    .container1 {
        padding: 15px 70px 0px 70px;
        gap:30px
    }
    .about .container1 #heading p{
        margin-top:40px;
    }
}



@media only screen and (max-width: 870px){
    .container1 {
        flex-direction: column;
    }

    .container1 .container11 {
        padding: 0px 70px 0px 70px;
    }

    .container11 #imagelogo{
        text-align: center;
    }

    .container1 #imagelogo{
        text-align: center;
        gap: 0;
    }

    .container11 #imagelogo{
        order: 2;
    }
    
}

@media only screen and (max-width: 600px){
    .container1{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    

    .container1 #imagelogo{
        margin: 0;
    }
    .container1 #heading {
        flex: 1;
        padding: 0px;
    }
    .container1 #imagelogo img {
        height: 60vw;
        width: 100%;
    }
    
}

@media only screen and (max-width: 470px){
    .container1 {
        padding: 0px 20px 0px 20px;
    }
}