
.gallery h1{
  font-family: 'Playfair Display', sans-serif;
  font-size: 75px;
  letter-spacing: 4px;
  text-align: center;
  color: #002A41;
  padding-top: 65px;
  padding-bottom: 65px;
  font-weight: 600;
}

.gallery{
  background-color: white;
  background-attachment: fixed;
  background-size: cover;
}

.gallery{
    width: 100vw;
    margin: 0 auto;
}

.gallery .container3{
  text-align: center; 
  padding-bottom: 120px;
}

.wrapper{
  width: 70%;
  height: fit-content;
  overflow-x:scroll;
  padding: 5px;
  display:inline-block;
}
#slider4{
  white-space: nowrap;
}
.slide-img{
  background: #ccc;
  height: 257px;
  display: inline-block;
  width: 415px;
}


.wrapper::-webkit-scrollbar {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(209, 186, 136); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 151, 107); 
}

#galleryscroll{
  position: relative;
  bottom: 90px;
}

@media only screen and (max-width: 600px){
  .gallery h1{
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
  }
}

@media only screen and (max-width: 1030px){
  .gallery h1{
      font-family: 'Playfair Display', serif;
      font-size: 55px;
  }
  .slide-img{
    background: #ccc;
    height: 220px;
    display: inline-block;
    width: 250px;
  }
  
}

@media only screen and (max-width: 600px){
  .gallery h1{
      font-family: 'Playfair Display', serif;
      font-size: 45px;
  }
}