/* CSS reset */
*{ 
	margin:0;
	scroll-behavior: smooth;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}

ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
    font-family: "helvetica neue", helvetica;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}



.ie7 body{
	overflow:hidden;
}

a{
	color: #333;
	text-decoration: none;
}

.container{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}

.box{
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden
}

video{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
